^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/splashInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/noticeInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/IndexList\/homeFloatAd url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/activityInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/skitAdInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/countPopTotal url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/barsUserAdInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/ad\/config url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/vajraInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/bannerInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/bardCacheAdInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/barsIndexAdInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/comicAdInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/liveEventAdInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/novelAdInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/sportAdInfo url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Resource\/CommentAd\/show url reject-dict
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Resource\/Config\/getNav url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/barsPlayAdInfo url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Ad\/playAdInfo url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/IndexPlay\/vodAdvertisement url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Resource\/Vod\/showOne url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Resource\/Vod\/vurlDetail url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js
^https?:\/\/apinew\.(ainitpz|n3yje|1000gxf)\.icu\/App\/Resource\/Config\/getNav url script-response-body https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js
hostname = api.ainitpz.com, apinew.n3yje.icu, api.1000gxf.com
