^https?:\/\/[\w.-]+\/App\/Ad\/splashInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/noticeInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/IndexList\/homeFloatAd data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/activityInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/skitAdInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/countPopTotal data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/barsUserAdInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/ad\/config data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/vajraInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/bannerInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/bardCacheAdInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/barsIndexAdInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/comicAdInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/liveEventAdInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/novelAdInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Ad\/sportAdInfo data-type=text data="{}" status-code=200 header="Content-Type:application/json"

^https?:\/\/[\w.-]+\/App\/Resource\/CommentAd\/show data-type=text data="{}" status-code=200 header="Content-Type:application/json"

[Script]
TilingSales_getNav = type=http-response, pattern=^https?:\/\/[\w.-]+\/App\/Resource\/Config\/getNav, script-path=https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js, requires-body=true, max-size=-1, timeout=60

TilingSales_getNav = type=http-response, pattern=^https?:\/\/[\w.-]+\/App\/Ad\/barsPlayAdInfo, script-path=https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js, requires-body=true, max-size=-1, timeout=60

TilingSales_getNav = type=http-response, pattern=^https?:\/\/[\w.-]+\/App\/Ad\/playAdInfo, script-path=https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js, requires-body=true, max-size=-1, timeout=60

TilingSales_getNav = type=http-response, pattern=^https?:\/\/[\w.-]+\/App\/IndexPlay\/vodAdvertisement, script-path=https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js, requires-body=true, max-size=-1, timeout=60

TilingSales_getNav = type=http-response, pattern=^https?:\/\/[\w.-]+\/App\/Resource\/Vod\/showOne, script-path=https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js, requires-body=true, max-size=-1, timeout=60

TilingSales_getNav = type=http-response, pattern=^https?:\/\/[\w.-]+\/App\/Resource\/Vod\/vurlDetail, script-path=https://raw.githubusercontent.com/ZenmoFeiShi/Qx/refs/heads/main/TilingSales_getNav.js, requires-body=true, max-size=-1, timeout=60
hostname = apinew.n3yje.icu, apinew.8hpt2duq.com, apinew.fzmfbdmg.com, api.7gmsut2m.com, api.gq89em.com, sdapi.s3432pr.com, api.8b42w67.com, api.4pmyvfz.com
